@page "/wizard/game/{id:guid}"

@if (string.IsNullOrEmpty(Game.FirstDealer))
{
    <h1>Select Dealer</h1>
    <EditForm Model=Game>
        <InputSelect @bind-Value=Game.FirstDealer class="form-control">
            <option value="@string.Empty">Select Dealer</option>
            @foreach (var player in Game.Players)
            {
                <option value="@player.Name">@player.Name</option>
            }
        </InputSelect>
    </EditForm>
}
else
{
    <h1>Players</h1>
    @foreach (var player in Game.Players)
    {
        var currentDealer = Game.GetCurrentDealer();
        <div class="row">
            <div class="col-auto">
                <p>@player.Name</p>
            </div>
            @if(currentDealer == player.Name)
            {
                <div class="col-auto">
                    <span class="badge badge-primary">Dealer</span>
                </div>
            }
        </div>
    }
}
